<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>ExtUserService</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="/" class="logo d-flex align-items-center w-auto">
                  <img src="../assets/img/logo.png" alt="" style="height:100px;width:100px;max-height:200px">
                
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4" style="color:black">Register</h5>
                    <div th:if="${param.error}"> <p style="color: red;">Error: <span th:text="${param.error}"></span></p> </div>
                     <p class="text-center small"><p>By continuing, you confirm your registration for our new service. You agree to our 
<a href="#" target="_blank">Terms of Service</a> and acknowledge our 
<a href="#" target="_blank">Privacy Policy</a>.</p></p>
                  </div>

                    
                    <div class="col-12">
                   

    <style>
        .small-text {
            font-size: 10px;
        }
    </style>


<div class="container mt-4 small-text">
    <h2 class="small-text">User Registration Details</h2>
    <form class="small-text" th:action="@{/register}" th:object="${user}" method="post">
        <div class="row">
            <div class="col-md-6">
                <label class="form-label small-text">Title</label>
                <input type="text" class="form-control small-text" th:value="${user.title}" readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label small-text">First Name</label>
                <input type="text" class="form-control small-text" th:value="${user.firstname}" readonly>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <label class="form-label small-text">Last Name</label>
                <input type="text" class="form-control small-text" th:value="${user.lastname}" readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label small-text">Email</label>
                <input type="email" class="form-control small-text" th:value="${user.email}" readonly>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <label class="form-label small-text">Mobile</label>
                <input type="text" class="form-control small-text" th:value="${user.mobile}" readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label small-text">Address</label>
                <input type="text" class="form-control small-text" th:value="${user.address}" readonly>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <label class="form-label small-text">Birthday</label>
                <input type="text" class="form-control small-text" th:value="${user.birthday}" readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label small-text">Tax ID</label>
                <input type="text" class="form-control small-text" th:value="${user.taxident}" readonly>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <label class="form-label small-text">Gender</label>
                <input type="text" class="form-control small-text" th:value="${user.gender}" readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label small-text">Country</label>
                <input type="text" class="form-control small-text" th:value="${user.country}" readonly>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <label class="form-label small-text">Language</label>
                <input type="text" class="form-control small-text" th:value="${user.language}" readonly>
            </div>
        </div>
        
                <!-- Terms of Service Checkbox -->
        <div class="form-check mt-3">
            <input type="checkbox" class="form-check-input" id="termsCheckbox" required>
            <label class="form-check-label small-text" for="termsCheckbox">
                I agree that I have read and accept the 
                <a href="#" target="_blank">Terms of Service</a> and 
                <a href="#" target="_blank">Privacy Policy</a>
            </label>
        </div>
          <div class="mt-3">
            <button type="submit" class="btn btn-primary" disabled id="registerBtn">Register</button>
        </div>
    </form>
</div>
<script>
    document.getElementById('termsCheckbox').addEventListener('change', function() {
        document.getElementById('registerBtn').disabled = !this.checked;
    });
</script>
</body>
</html>

                      </div>
        

                </div>
              </div>


            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/chart.js/chart.umd.js"></script>
  <script src="../assets/vendor/echarts/echarts.min.js"></script>
  <script src="../assets/vendor/quill/quill.js"></script>
  <script src="../assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>